
.single-bottle-item {
    border: 1px solid blue;
    padding: 20px;
    border-radius: 15px;
}

.single-bottle-item h3 span {
    font-weight: 400;
}

.single-bottle-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.single-bottle-item button {
    background-color: black;
    color: #fff;
    border: none;
}